* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Section [FAQ]*/

/*Responsive*/
@media screen and (max-width: 768px) {
  /*Section [FAQ]*/
}
